*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
   height:100vh;
}
.header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    font-size: 24px;
    cursor: pointer;
}

.header img{
    height:30px 
}

.header a{
    color: white;

}

.header a:hover{
    color: #c51111 ;
    font-size: 26px;
    transition: 1s ease-in-out;
}

 .Wrapping{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
 }
.box1{
    width: 40%;
}

.logo-principal{
    height: 200px;
    margin-bottom: 20px;
}
p{
 font-size: 20px;
 color: white;
 padding: 0px 150px 0px 3px;
}

button{
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 60px;
}

.par{
    height: 500px;

}
.box-video{
    position: fixed;
    top: 0;
    z-index: -1;
 }

 video{
    min-height: 100%;
    min-width: 100%;
    top: 0;
    position:fixed;

 }
 .gradiente{
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0px
}

.imgzap{
    height: 60px;
    position:  relative;
    margin-left: 25px;
    margin-bottom: -246px;
    
}     
 .formulario-fale-conosco{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    z-index: 1;
    transition: left 1s ease-in-out;
 }

 input{
    border-radius: 10px;
    height: 40px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color:#18d80f ;



 }

 textarea{
    height: 80px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color:#18d80f ;
 }

 .mascaraform{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 1s ease-in-out ;
    background: linear-gradient(106deg, rgba(10,12,16,0.99) 15%, rgba(10,12,16,0.7) 50%, rgba(10,12,16,0.99) 85%);
 }

 @media(max-width:1120px){

    p{
        display: none;
    }
    .Wrapping {
         flex-direction: column;
         padding: 10px;

    }
    .box1{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .par{
        width: 80vw;
        height: auto;
    }
    
    button{
        margin-left:25%;
    }
    .header a{
        font-size: 18px;
    }
    .imgzap{
        margin-bottom: -27px;
    }

 }